/* Taustakuva ja otsikko */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('Koli.jpg'); /* Taustakuvan nimi ja polku */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.header {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

/* Taulukon tyyli */
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: black; /* Taulukossa olevan tekstin fontin väri */
}

th {
    background-color: rgb(228, 240, 237);
}

tr:nth-child(3n+1) {
    background-color: rgb(94, 104, 113); /* Vaaleansininen */
}

tr:nth-child(3n+2) {
    background-color: rgb(69, 82, 69); /* Vaaleanvihreä */
}

tr:nth-child(3n+3) {
    background-color: rgb(98, 88, 88); /* Vaaleanharmaa */
}

.selectable:hover {
    background-color: rgba(173, 216, 230, 0.7); /* Vaaleansininen taustaväri */
    color: rgb(62, 91, 91); /* Tekstin väri */
}

/* Taulukon keskittäminen ja välimatka alaspäin */
.table-container {
    margin: auto; /* Keskittää taulukon */
    width: 50%; /* Määrittää taulukon leveyden */
    margin-bottom: 10px; /* Lisää välimatkan alareunaan */
}

/* Lisää välimatkaa painikkeiden yläpuolelle */
#player {
    margin-top: 10px;
}

